html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  color: var(--primary_color);
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "ITC Garamond";
  src: url("/fonts/ITCGaramondStd-LtCondIta.woff2") format("woff2"),
    url("/fonts/ITCGaramondStd-LtCondIta.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "ITC Garamond";
  src: url("/fonts/ITCGaramondStd-BkCond.woff2") format("woff2"),
    url("/fonts/ITCGaramondStd-BkCond.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ITC Garamond";
  src: url("/fonts/ITCGaramondStd-LtCond.woff2") format("woff2"),
    url("/fonts/ITCGaramondStd-LtCond.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ITC Garamond";
  src: url("/fonts/ITCGaramondStd-BkCondIta.woff2") format("woff2"),
    url("/fonts/ITCGaramondStd-BkCondIta.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: "Nanum Gothic Coding";
  font-size: 20px;
  @include breakpoint(tiny) {
    font-size: 14px;
  }
}

html {
  font-size: 58%;
}
@media screen and (min-width: 960px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 1550px) {
  html {
    font-size: 72.5%;
  }
}
@media screen and (min-width: 1750px) {
  html {
    font-size: 78.5%;
  }
}
::-webkit-input-placeholder,
::-moz-placeholder {
  color: var(--primary_color);
  font-size: 15vmin;
}
* {
  box-sizing: border-box;
}

a {
  color: var(--primary_color);
  &:focus-visible {
    outline: 3px solid var(--flair);
  }
}
h1,
h2 {
  font-family: "ITC Garamond";
  font-weight: 100;
  font-size: 2em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  @include container;
}

button {
  //outline: none;
  border: 0;
  background: var(--primary_color);
  color: var(--background);
  font-family: "ITC Garamond";
  font-size: 1.2em;
  padding: 0.2em 0.2em 0.1em;
  border-radius: 0 0 10px 10px;
  border-radius: 20px;
  //border-top: 2px solid var(--flair);
  cursor: pointer;
  &:focus-visible {
    outline: 2px solid var(--flair);
  }
}

a[href]:focus-visible,
area[href]:focus-visible,
input:not([disabled]):focus-visible,
select:not([disabled]):focus-visible,
textarea:not([disabled]):focus-visible,
button:not([disabled]):focus-visible,
iframe:focus-visible,
[tabindex]:focus-visible,
[contentEditable="true"] {
  &:not([tabindex="-1"]):focus-visible {
    outline: 2px solid var(--flair);
  }
}

.z-layer:first-child {
  //filter: brightness(5);
  color: var(--primary_color);
  svg {
    * {
      fill: var(--primary_color);
    }
  }
}

.z-layer:not(:first-child) {
  //filter: brightness(5);
  color: var(--flair);
  opacity: 0.3;
  svg {
    * {
      fill: var(--flair);
    }
  }
}

.wysiwyg {
  line-height: 1.2em;
  font-size: 0.8em;
  p,
  ul,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 1em;
  }
}
