input:not([type="submit"]),
select,
textarea {
  width: 100%;
  border: 0;
  border: 2px solid $primary_color;
  outline: none;
  padding: 0.5em;
  font-family: "Nanum Gothic Coding";
  font-size: 1.2em;
}

input[type="submit"] {
  background: $background;
  color: $primary_color;
  outline: none;
  border: 0;
  cursor: pointer;
  font-family: "Nanum Gothic Coding";
  font-size: 1.2em;
  padding: 0.2em;
  border: 2px solid $primary_color;
  border-bottom-color: $primary_color;
  border-left-color: $primary_color;

  bottom: 10%;
  left: 20%;
  border: 2px solid $primary_color;
  border-radius: 100%;
  @include headline_font;
  text-align: center;
  padding: 12px 20px 8px;
  font-size: 1.5em;
  width: auto;
  height: auto;
  &:hover {
    background: $flair;
  }

  @include breakpoint(medium) {
    font-size: 0.8em;
    //border-width: 1px;
  }
}

.mc-field-group {
  margin-bottom: 1em;
  label {
    display: block;
    margin-bottom: 0.25em;
  }
}
#mc_embed_signup input.mce_inline_error {
  border-color: $primary_color !important;
}

#mc_embed_signup div.mce_inline_error {
  background-color: $primary_color !important;
  color: $background !important;
  font-size: 0.7em;
}

.indicates-required {
  font-size: 0.7em;
  margin-top: 1em;
}

#mce-error-response {
  display: block;
  background: $background;
  color: $primary_color;
  padding: 0.5em;
  margin-bottom: 1em;
  font-size: 0.7em;
}

#mce-success-response {
  display: block;
  background: $primary_color;
  color: $background;
  padding: 0.5em;
  margin-bottom: 1em;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  transform: rotate(-30deg);
  transform-origin: center center;
  font-size: 2em;
}
