.page-enter-active {
  // transition: all 2s;
  // transform: translateX(-10%);
  // border: 5px solid blue;
  //animation: bounce-in 1.7s;
}

.page-leave-active {
  // transition: all 2s;
  // transform: translateX(-100%);
  // border: 5px solid red;
  //animation: bounce-out 0.7s;
}
.page-enter {
  // transition: all 2s;
  // border: 5px solid green;
}

.bounce-enter-active {
  animation: bounce-in 1.7s;
}

.bounce-leave-active {
  animation: bounce-out 0.7s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.game_dialog_transition-enter-active,
.game_dialog_transition-leave-active {
  transition: opacity 1s;
}

.game_dialog_transition-enter,
.game_dialog_transition-leave-active {
  opacity: 0;
  pointer-events: none;

  .inner {
    transform: scale(0);
    transition: 1s transform;
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.spin-enter-active {
  animation: spin-in 1.7s;
}

.spin-leave-active {
  animation: spin-out 0.7s;
}

@keyframes spin-in {
  0% {
    transform: rotate(0) scale(0);
  }
  50% {
    transform: rotate(-80deg);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes spin-out {
  0% {
    transform: rotate(0) scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}
