// this just controls transition speeds
.page-tranny-enter-active,
.page-tranny-leave-active {
  transition: all 0.5s;

  // home page
  &.homer {
    &:before {
      transition: 0.5s background-color;
    }

    .logo {
      transition: 0.5s transform;
    }
  
    .intro {
      transition: 0.5s transform, 0.5s opacity;
    }
  }

  // portfolio page
  &.portfolio-page {

    .header {
      transition: 0.5s left;
    }
  
    .portfolio-wrap {
      transition: 0.5s left;
    }
  }

  // contact page
  &.contact-page {
    .header {
      transition: 0.5s left;
    }
  
    .contact-wrap {
      transition: 0.5s left;
    }
  }
}

// where you want elements to come from / leave to
.page-tranny-enter,
.page-tranny-leave-active {
  background-color: transparent !important;

  // home page
  &.homer {
    @include breakpoint(medium) {
      opacity: 0;
    }

    &:before {
      background-color: transparent !important;
    }

    .logo {
      transform: translateY(-100%);

      @include breakpoint(medium) {
        transform: none;
      }
    }
  
    .intro {
      transform: translateX(-100%);
      opacity: 0;

      @include breakpoint(medium) {
        transform: none;
        opacity: 1;
      }
    }
  }

  // portfolio page
  &.portfolio-page {
    background-color: transparent;

    @include breakpoint(medium) {
      opacity: 0;
    }

    .header {
      left: 100%;

      @include breakpoint(medium) {
        left: auto;
      }
    }
  
    .portfolio-wrap {
      left: -50%;

      @include breakpoint(medium) {
        left: auto;
      }
    }
  }

  &.contact-page {
    background-color: transparent;

    @include breakpoint(medium) {
      opacity: 0;
    }

    .header {
      left: 100%;

      @include breakpoint(medium) {
        left: auto;
      }
    }
  
    .contact-wrap {
      left: -50%;

      @include breakpoint(medium) {
        left: auto;
      }
    }
  }
}

.bounce-enter-active {
  animation: bounce-in 1.7s;
}

.bounce-leave-active {
  animation: bounce-out 0.7s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.game_dialog_transition-enter-active,
.game_dialog_transition-leave-active {
  transition: opacity 1s;
}

.game_dialog_transition-enter,
.game_dialog_transition-leave-active {
  opacity: 0;
  pointer-events: none;

  .inner {
    transform: scale(0);
    transition: 1s transform;
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.spin-enter-active {
  animation: spin-in 1.7s;
}

.spin-leave-active {
  animation: spin-out 0.7s;
}

@keyframes spin-in {
  0% {
    transform: rotate(0) scale(0);
  }
  50% {
    transform: rotate(-80deg);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes spin-out {
  0% {
    transform: rotate(0) scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}
