@import "vars";
@import "base";
@import "transitions";
@import "forms";

// :root {
//   --bg-color: var(--background);
//   --fg-color: var(--flair);
// }

:root {
  --orangy: #ff734d;
  --greenguy: #68a38a;
  --white: #ffffff;
  --black: #000000;
  --forest: #2a8122;
  --pinky: rgba(255, 0, 255, 0.8);
  --background: var(--white);
  --primary_color: var(--forest);
  --flair: yellow;
  --nav: #ff00ff;
  --body_font: "Nanum Gothic Coding";
  --body_font: "Montserrat";
  --alt_font: "ITC Garamond";
  --big_font: clamp(36px, 13vw, 200px);
}
